<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" requirePermission="false" />
  </configSections>

<log4net>
  <appender name="NzProductAppender" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Logs\NzProduct\" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value=".[yyyy-MM-dd]" />
    <preserveLogFileNameExtension value="true" />
    <maximumFileSize value="1MB" />
    <maxSizeRollBackups value="-1" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%7thread] %-5level %logger{2} *** %message%newline" />
    </layout>
  </appender>
  <logger name="NzProduct">
    <level value="ALL" />
    <appender-ref ref="NzProductAppender" />
  </logger>
</log4net>
</configuration>